<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>UHSSE.edu Editor</title>

	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/basscss.min.css">
	<link rel="stylesheet" href="css/theme.css">
	
	<script src="js/jquery.min.js" defer></script>
	<script src="js/vue.min.js" defer></script>
	<script src="js/index.js" defer></script>
</head>

<body>
	<main id="app" class="flex flex-column">
		<header class="flex flex-column items-center justify-center navbar">
			<h2 :class="['ml3', { 'mb0': authenticated }]">UHSSE.edu Editor</h2>
			<ul v-if="authenticated" class="flex-auto">
				<li v-for="link in nav"><a href="javascript:void(0);">{{ link.name }}</a></li>
			</ul>
		</header>

		<p class="center">{{topLabel}}</p>

		<section class="flex items-center justify-center">
			<button class="button mr1" v-on:click = "downloadRepo">Download Repo</button>
			<button class="button ml1" :class = "{ 'disabled': !repoFound}">Delete Repo</button>
		</section>

		<p class="center">{{bottomLabel}}</p>

		<section class="flex items-end justify-center mb1">
			<button class="button mr1" :class = "{ 'disabled': !repoFound}">Check for Changes</button>
			<button class="button ml1" :class = "{ 'disabled': !repoFound}">Compile Changes</button>
			<input class="input mr2 ml4" :class = "{ 'disabled': !repoFound}" type="text" placeholder="Commit Message"></input>
			<button class="button" :class = "{ 'disabled': !repoFound}">Commit</button>
		</section>

		<!--v-for section for each page (similar to how nav is acquired) from GitHub data.-->
		<label for="log" class="bold mt3">Logs</label>
		<textarea id="log" class="flex flex-auto">
		</textarea>
	</main>
</body>
</html>