<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href = "assets/css/bootstrap.min.css">
	<link rel="stylesheet" href = "assets/css/font-awesome.min.css">
	<link rel = "stylesheet" href = "css/global.css"> 
	<script src = "assets/js/jquery.js" onload = "window.$ = window.jQuery = module.exports;"></script>
	<script src = "assets/js/bootstrap.js"></script>
	<script src = "assets/js/vue.js"></script>
	<script src = "js/globals.js"></script>
	<title>Editor</title>
</head>
<body>
	<div id = "main">
		<div class = "container-fluid">
			<div class = "row">
				<div class = "col-xs-8 col-xs-offset-2">
					<div class = "panel panel-default">
						<div class = "panel-heading">
							<h3 class="panel-title">Log In to GitHub</h3>
						</div>
						<div class = "panel-body">
							<form>
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<input type="email" class="form-control" id="email" v-model="email" placeholder="Email">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" id="password" v-model="password" placeholder="Password">
								</div>
								<button type = "button" v-on:click = "test" class="btn btn-success">Log In</button>
								<button class="btn btn-default">Forgot Password?</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		new Vue({
			el: "#main",
			data: {
				"email": "",
				"password": ""
			},
			methods: {
				test: function() {
					console.log("hm");
					let gh = require("github");
					let github = new gh({
						headers: {
							"user-agent": "UniversityHighEditor"
						}
					});
					let r = github.authenticate({
					  type: "basic",
					  username: "bwa",
					  password: "bwabwawa"
					});
					console.log(r);
				}
			}
		});
	</script>
</body>
</html>